# Ignore compiled C binaries
*.out
*.o
*.exe
run*

# Ignore 
archive/

# Ignore other common build artifacts
*.a
*.so
*.obj
*.dll

# Ignore editor/OS files
*.swp
*.swo
*~
.DS_Store

# Ignore python files
.venv/
__pycache__/

# Ignore logs and temporary files
*.log
temp/